@{
    @model POCHTI_KURSACH.Models.Entities.Product
}

<h3>@Model.Name @Model.Price руб</h3>
<h5>Осталось на складе @Model.Amount</h5>
<img style="width: 35%; padding-bottom: 10px;" src="@Url.Content(Model.image)" alt="@Model.Name" />
<br />
<a asp-area="" asp-route-id="@Model.Id" asp-controller="Catalog" asp-action="AddToBag">
    <input value="Положить в корзину" type="button" class="btn btn-dark" />
</a>